<%- include("header") %>

<form action="/members/create" method="post">
  <div class="flex flex-col w-96 gap-4">
    <input type="text" class="p-2 outline-1 outline-black outline-solid rounded" placeholder="Name" id="name" name="name" />
    <input type="email" class="p-2 outline-1 outline-black outline-solid rounded" placeholder="Email" id="email" name="email" />
    <input type="number" class="p-2 outline-1 outline-black outline-solid rounded" placeholder="Phone" id="phone" name="phone" />
    <input type="date" class="p-2 outline-1 outline-black outline-solid rounded" placeholder="Date" id="date" name="date" />
    <input type="text" class="p-2 outline-1 outline-black outline-solid rounded" placeholder="Character" id="character" name="character" />
    <button class="p-4 bg-blue-500 rounded-lg">Add member</button>
  </div>
</form>
<%- include("footer") %>