<%- include("header") %>

<form action="/members/create" method="post">
  <div class="flex flex-col w-96 gap-4">
    <input type="text" placeholder="Name" id="name" name="name" />
    <button class="p-4 bg-blue-500 rounded-lg">Add member</button>
  </div>
</form>
<%- include("footer") %>